<configuration>
  
  <appender name="ES" class="com.mdac.logback.vertx.elasticsearch.appender.LogbackElasticSearchAppender" level="info">
  	<instanceIdentifier>applicationlog</instanceIdentifier>
  	<properties>
            <property>
                <name>host</name>
                <value>${HOSTNAME}</value>
            </property>
            <property>
                <name>level</name>
                <value>%level</value>
            </property>
            <property>
                <name>thread</name>
                <value>%thread</value>
            </property>
            <property>
                <name>message</name>
                <value>%message</value>
            </property>
            <property>
                <name>stacktrace</name>
                <value>%ex</value>
            </property>
            <property>
                <name>stacktrace</name>
                <value>%exhash</value>
            </property>
            <property>
                <name>logger</name>
                <value>%logger</value>
            </property>
        </properties>
  </appender>
 
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" level="info">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <root level="info">
    <appender-ref ref="ES" />
  </root>
  
</configuration>